/* body {
    background: #67B26F;  /* fallback for old browsers 
    
    background: -webkit-linear-gradient(to right, #e7a6a4, #eb0819);   Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #e7a6a4, #eb0819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;

    

}*/

body, html {
    height: 115%;
    margin: 0;
  }

  .bg {
    /* The image used */
    background-image: url("../../lgassets/images/bg.png");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
  



.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}


table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 10px;
	background-color: rgba(255,255,255,0.2);
	color: black;;
}

th {
	text-align: left;
  color: black;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}


/* .grades th{
text-align: center;
}

.grades td{
text-align: center;
} */

.grd {
  background-color: dodgerblue;
  color: white;
  /* padding: 1rem; */
  padding: 10px 0 0 21px;
  height: 5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: linear-gradient(to right, #F08080, #B22222);
}

.grds {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  
}

.grd em {
    font-size: 20px;
    color: #B22005;
    font-weight: 900;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .grds { grid-template-columns: repeat(4, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .grds { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 991px) {
  .bg {height: 200%;}
}